<div id="<%= dom_id admin_skill %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= admin_skill.name %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this skill", admin_skill, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this skill', edit_admin_skill_path(admin_skill), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
