<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto pb-10">
    <%= render 'admin/skills/admin_skill', admin_skill: @admin_skill %>

    <%= link_to 'Edit this admin_skill', edit_admin_skill_path(@admin_skill), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <div class="inline-block ml-2">
      <%= button_to 'Destroy this admin_skill', admin_skill_path(@admin_skill), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
    </div>
    <%= link_to 'Back to admin_skills', admin_skills_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
</div>
